<span id="top"></span>
<h3>Products</h3>

<p> you have {{ cartArray.length }} product in your cart. <a routerLink="/cart">go to checkout</a> </p>

<ul>
    <li  *ngFor="let p of products">
        <h3>{{ p.name }}</h3>

        <button (click)="saveProduct(p)" >add to cart</button>
    </li>
</ul>


<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sit fugit corrupti ducimus, sunt, vitae et minima maxime, in beatae illo repudiandae laboriosam ea magni omnis dicta asperiores. Praesentium, enim!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sit fugit corrupti ducimus, sunt, vitae et minima maxime, in beatae illo repudiandae laboriosam ea magni omnis dicta asperiores. Praesentium, enim!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sit fugit corrupti ducimus, sunt, vitae et minima maxime, in beatae illo repudiandae laboriosam ea magni omnis dicta asperiores. Praesentium, enim!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sit fugit corrupti ducimus, sunt, vitae et minima maxime, in beatae illo repudiandae laboriosam ea magni omnis dicta asperiores. Praesentium, enim!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sit fugit corrupti ducimus, sunt, vitae et minima maxime, in beatae illo repudiandae laboriosam ea magni omnis dicta asperiores. Praesentium, enim!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sit fugit corrupti ducimus, sunt, vitae et minima maxime, in beatae illo repudiandae laboriosam ea magni omnis dicta asperiores. Praesentium, enim!
</p>

<a href="#top">back to top</a>