.old-employee{
    color: green;
}

.new-employee{
    color: orange;
}

.editor > textarea{
    width: 100%;
    height: 500px;

}

.toolbar{
    display: flex;
    justify-content: space-between;
}


.dark-mode-editor{
    background-color: black;
    color: white;
}



.feild{
    background-color: green;
    height: 100vh;
    position: relative;
}

.ball{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
}


.text-danger{
    color: red;
}