<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Update Client</h1>

        <a routerLink="/clients" class="btn btn-sm btn-primary"><i class="fa fa-arrow-left"></i> Back</a>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header">
                    Update Client
                </div>
                <div class="card-body"> 

                         <form [formGroup]="formData" (ngSubmit)="saveData()">
                            <div class="form-group mb-3">
                                <label for="">Nom</label>
                                <input type="text" class="form-control" formControlName="nom">
                            </div>

                            <div class="form-group mb-3">
                                <label for="">Prenom</label>
                                <input type="text" class="form-control" formControlName="prenom">
                            </div>

                            <div class="form-group mb-3">
                                <label for="">Email</label>
                                <input type="text" class="form-control" formControlName="email">
                            </div>

                            <div class="form-group mb-3">
                                <label for="">Cin</label>
                                <input type="text" class="form-control" formControlName="cin">
                            </div>

                            <div class="form-group mb-3">
                                <label for="">Address</label>
                                <input type="text" class="form-control" formControlName="address">
                            </div>
                            <div class="form-group mb-3">
                                <button [disabled]="! formData.valid" type="submit" class="btn btn-success">Save</button>
                            </div>

                            <div class="alert alert-success" *ngIf="successMessage != '' ">
                                {{ successMessage }}
                            </div>

                            <div class="alert alert-danger" *ngIf="errorMessage != '' ">
                                {{ errorMessage }}
                            </div>

                            

                            

                            
                         </form>
                </div>
            </div>


        </div>
    </div>


</div>